:root {
  --color-orange-light: rgb(199, 116, 49);
  --color-orange-dark: rgb(164, 76, 40);
  --color-blue-light: rgb(101, 110, 167);
  --color-blue-dark: rgb(33, 74, 131);
  --color-khaki-dark: rgb(187, 175, 156);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.heading-primary {
  font-family: "Monoton", cursive;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 3rem;
  margin: 3rem 0;
  text-align: center;
  color: #c77431;
}

.heading-secondary {
  color: #c77431;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 2rem;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.heading-tertiary {
  color: #c77431;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1.5rem;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #ebe3e2;
  text-align: center;
  letter-spacing: 0.3rem;
}

.u-margin-bottom-s {
  margin-bottom: 2rem;
}

.u-margin-bottom-m {
  margin-bottom: 4rem;
}

.u-margin-bottom-l {
  margin-bottom: 8rem;
}

.row {
  display: flex;
  width: 114rem;
  margin: 0 auto 3rem auto;
}
.row--center {
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.card {
  width: 30rem;
  height: 40rem;
  position: relative;
  perspective: 120rem;
}
.card__side {
  height: 40rem;
  width: 30rem;
  color: var(--color-khaki-dark);
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  border: 2px solid black;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.card__side--front-1 {
  background-image: linear-gradient(to right, var(--color-orange-light), var(--color-orange-dark));
}
.card__side--front-2 {
  background-image: linear-gradient(to bottom, var(--color-blue-light), var(--color-blue-dark));
}
.card__side--front-3 {
  background-image: linear-gradient(to bottom left, var(--color-orange-light), var(--color-orange-dark));
}
.card__side--back-1 {
  background-image: linear-gradient(to right, var(--color-orange-light), var(--color-orange-dark));
  transform: rotateY(-180deg);
}
.card__side--back-2 {
  background-image: linear-gradient(to bottom, var(--color-blue-light), var(--color-blue-dark));
  transform: rotateX(-180deg);
}
.card__side--back-3 {
  background-image: linear-gradient(to top right, var(--color-orange-light), var(--color-orange-dark));
  transform: rotate3d(1, 1, 0, -180deg);
}
.card:hover .card__side--front-1 {
  transform: rotateY(180deg);
}
.card:hover .card__side--back-1 {
  transform: rotateY(0deg);
}
.card:hover .card__side--front-2 {
  transform: rotateX(180deg);
}
.card:hover .card__side--back-2 {
  transform: rotateX(0deg);
}
.card:hover .card__side--front-3 {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card:hover .card__side--back-3 {
  transform: rotate3d(1, 1, 0, 0deg);
}

body {
  background-color: #527ebb;
}

.pageDescription {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

/*# sourceMappingURL=style.css.map */
